In [76]:
import openai
from dotenv import load_dotenv
import pandas as pd

In [4]:
import os
openai.api_key=os.getenv('OPENAI_API_KEY')

In [10]:
import pandas as pd
pd.DataFrame(openai.models.list())

,0,1,2,3
0,"(id, gpt-4-0613)","(created, 1686588896)","(object, model)","(owned_by, openai)"
1,"(id, curie-search-query)","(created, 1651172509)","(object, model)","(owned_by, openai-dev)"
2,"(id, gpt-4)","(created, 1687882411)","(object, model)","(owned_by, openai)"
3,"(id, babbage-search-query)","(created, 1651172509)","(object, model)","(owned_by, openai-dev)"
4,"(id, dall-e-3)","(created, 1698785189)","(object, model)","(owned_by, system)"
5,"(id, babbage-search-document)","(created, 1651172510)","(object, model)","(owned_by, openai-dev)"
6,"(id, dall-e-2)","(created, 1698798177)","(object, model)","(owned_by, system)"
7,"(id, gpt-3.5-turbo-0301)","(created, 1677649963)","(object, model)","(owned_by, openai)"
8,"(id, davinci-search-query)","(created, 1651172505)","(object, model)","(owned_by, openai-dev)"
9,"(id, gpt-4-1106-preview)","(created, 1698957206)","(object, model)","(owned_by, system)"
10,"(id, tts-1-hd-1106)","(created, 1699053533)","(object, model)","(owned_by, system)"
11,"(id, whisper-1)","(created, 1677532384)","(object, model)","(owned_by, openai-internal)"
12,"(id, tts-1-hd)","(created, 1699046015)","(object, model)","(owned_by, system)"
13,"(id, ada-search-document)","(created, 1651172507)","(object, model)","(owned_by, openai-dev)"
14,"(id, ada-code-search-code)","(created, 1651172505)","(object, model)","(owned_by, openai-dev)"
15,"(id, davinci-002)","(created, 1692634301)","(object, model)","(owned_by, system)"
16,"(id, babbage-002)","(created, 1692634615)","(object, model)","(owned_by, system)"
17,"(id, gpt-4-vision-preview)","(created, 1698894917)","(object, model)","(owned_by, system)"
18,"(id, davinci-search-document)","(created, 1651172509)","(object, model)","(owned_by, openai-dev)"
19,"(id, curie-search-document)","(created, 1651172508)","(object, model)","(owned_by, openai-dev)"
20,"(id, ada-search-query)","(created, 1651172505)","(object, model)","(owned_by, openai-dev)"
21,"(id, ada-code-search-text)","(created, 1651172510)","(object, model)","(owned_by, openai-dev)"
22,"(id, text-embedding-ada-002)","(created, 1671217299)","(object, model)","(owned_by, openai-internal)"
23,"(id, gpt-3.5-turbo-16k-0613)","(created, 1685474247)","(object, model)","(owned_by, openai)"
24,"(id, gpt-3.5-turbo-16k)","(created, 1683758102)","(object, model)","(owned_by, openai-internal)"
25,"(id, gpt-3.5-turbo)","(created, 1677610602)","(object, model)","(owned_by, openai)"
26,"(id, gpt-3.5-turbo-0613)","(created, 1686587434)","(object, model)","(owned_by, openai)"
27,"(id, gpt-3.5-turbo-1106)","(created, 1698959748)","(object, model)","(owned_by, system)"
28,"(id, gpt-3.5-turbo-instruct)","(created, 1692901427)","(object, model)","(owned_by, system)"
29,"(id, gpt-3.5-turbo-instruct-0914)","(created, 1694122472)","(object, model)","(owned_by, system)"
30,"(id, tts-1-1106)","(created, 1699053241)","(object, model)","(owned_by, system)"
31,"(id, tts-1)","(created, 1681940951)","(object, model)","(owned_by, openai-internal)"

In [74]:
#from openai import OpenAI
#client = OpenAI()

response=openai.chat.completions.create(
  model="gpt-3.5-turbo",
  messages=[
    {"role": "system", "content": "you are a assistance which inform about temperature ."},
    {"role": "user", "content": "hello how are you"}
  ]
)

print(response.choices[0].message)

ChatCompletionMessage(content="Hello! I'm an AI assistant, so I don't have feelings, but I'm here to help you. How can I assist you today?", role='assistant', function_call=None, tool_calls=None)

In [39]:
import requests
def get_current_weather(location):
    url = "https://ai-weather-by-meteosource.p.rapidapi.com/find_places"

    querystring = {"text":location}

    headers = {
	"X-RapidAPI-Key": "fecf8b2184mshfc85bf54f1018e6p198cb0jsnf70ee9ee44c1",
	"X-RapidAPI-Host": "ai-weather-by-meteosource.p.rapidapi.com"
     }

    response = requests.get(url, headers=headers, params=querystring)

    print(response.json())
    return response.json()

In [78]:
response=get_current_weather('Bangalore')

[{'name': 'Bengaluru', 'place_id': 'bengaluru', 'adm_area1': 'Karnataka', 'adm_area2': 'Bengaluru Urban', 'country': 'India', 'lat': '12.97194N', 'lon': '77.59369E', 'timezone': 'Asia/Kolkata', 'type': 'settlement'}, {'name': 'Bengaluru Urban', 'place_id': 'bangalore-urban', 'adm_area1': 'Karnataka', 'adm_area2': 'Bengaluru Urban', 'country': 'India', 'lat': '13.0N', 'lon': '77.58333E', 'timezone': 'Asia/Kolkata', 'type': 'administrative_area'}, {'name': 'Yelahanka', 'place_id': 'yelahanka', 'adm_area1': 'Karnataka', 'adm_area2': 'Bengaluru Urban', 'country': 'India', 'lat': '13.10073N', 'lon': '77.59632E', 'timezone': 'Asia/Kolkata', 'type': 'settlement'}, {'name': 'Anekal', 'place_id': 'anekal', 'adm_area1': 'Karnataka', 'adm_area2': 'Bengaluru Urban', 'country': 'India', 'lat': '12.7111N', 'lon': '77.69557E', 'timezone': 'Asia/Kolkata', 'type': 'settlement'}, {'name': 'Devanahalli', 'place_id': 'devanhalli', 'adm_area1': 'Karnataka', 'adm_area2': 'Bengaluru Rural', 'country': 'India', 'lat': '13.24655N', 'lon': '77.71183E', 'timezone': 'Asia/Kolkata', 'type': 'settlement'}, {'name': 'Dod Ballāpur', 'place_id': 'dod-ballapur', 'adm_area1': 'Karnataka', 'adm_area2': 'Bengaluru Rural', 'country': 'India', 'lat': '13.29452N', 'lon': '77.53777E', 'timezone': 'Asia/Kolkata', 'type': 'settlement'}, {'name': 'Hoskote', 'place_id': 'hoskote', 'adm_area1': 'Karnataka', 'adm_area2': 'Bengaluru Rural', 'country': 'India', 'lat': '13.0707N', 'lon': '77.79814E', 'timezone': 'Asia/Kolkata', 'type': 'settlement'}, {'name': 'Vadigenhalli', 'place_id': 'vadigenhalli', 'adm_area1': 'Karnataka', 'adm_area2': 'Bengaluru Rural', 'country': 'India', 'lat': '13.29724N', 'lon': '77.80184E', 'timezone': 'Asia/Kolkata', 'type': 'settlement'}, {'name': 'Nelamangala', 'place_id': 'nelamangala', 'adm_area1': 'Karnataka', 'adm_area2': 'Bengaluru Rural', 'country': 'India', 'lat': '13.09978N', 'lon': '77.39364E', 'timezone': 'Asia/Kolkata', 'type': 'settlement'}, {'name': 'Bengaluru Rural', 'place_id': 'bangalore-rural', 'adm_area1': 'Karnataka', 'adm_area2': 'Bengaluru Rural', 'country': 'India', 'lat': '13.22567N', 'lon': '77.57501E', 'timezone': 'Asia/Kolkata', 'type': 'administrative_area'}]

,name,place_id,adm_area1,adm_area2,country,lat,lon,timezone,type
0,Bengaluru,bengaluru,Karnataka,Bengaluru Urban,India,12.97194N,77.59369E,Asia/Kolkata,settlement
1,Bengaluru Urban,bangalore-urban,Karnataka,Bengaluru Urban,India,13.0N,77.58333E,Asia/Kolkata,administrative_area
2,Yelahanka,yelahanka,Karnataka,Bengaluru Urban,India,13.10073N,77.59632E,Asia/Kolkata,settlement
3,Anekal,anekal,Karnataka,Bengaluru Urban,India,12.7111N,77.69557E,Asia/Kolkata,settlement
4,Devanahalli,devanhalli,Karnataka,Bengaluru Rural,India,13.24655N,77.71183E,Asia/Kolkata,settlement
5,Dod Ballāpur,dod-ballapur,Karnataka,Bengaluru Rural,India,13.29452N,77.53777E,Asia/Kolkata,settlement
6,Hoskote,hoskote,Karnataka,Bengaluru Rural,India,13.0707N,77.79814E,Asia/Kolkata,settlement
7,Vadigenhalli,vadigenhalli,Karnataka,Bengaluru Rural,India,13.29724N,77.80184E,Asia/Kolkata,settlement
8,Nelamangala,nelamangala,Karnataka,Bengaluru Rural,India,13.09978N,77.39364E,Asia/Kolkata,settlement
9,Bengaluru Rural,bangalore-rural,Karnataka,Bengaluru Rural,India,13.22567N,77.57501E,Asia/Kolkata,administrative_area

In [32]:
pd.DataFrame(response)

,name,place_id,adm_area1,adm_area2,country,lat,lon,timezone,type
0,Bengaluru,bengaluru,Karnataka,Bengaluru Urban,India,12.97194N,77.59369E,Asia/Kolkata,settlement
1,Bengaluru Urban,bangalore-urban,Karnataka,Bengaluru Urban,India,13.0N,77.58333E,Asia/Kolkata,administrative_area
2,Yelahanka,yelahanka,Karnataka,Bengaluru Urban,India,13.10073N,77.59632E,Asia/Kolkata,settlement
3,Anekal,anekal,Karnataka,Bengaluru Urban,India,12.7111N,77.69557E,Asia/Kolkata,settlement
4,Devanahalli,devanhalli,Karnataka,Bengaluru Rural,India,13.24655N,77.71183E,Asia/Kolkata,settlement
5,Dod Ballāpur,dod-ballapur,Karnataka,Bengaluru Rural,India,13.29452N,77.53777E,Asia/Kolkata,settlement
6,Hoskote,hoskote,Karnataka,Bengaluru Rural,India,13.0707N,77.79814E,Asia/Kolkata,settlement
7,Vadigenhalli,vadigenhalli,Karnataka,Bengaluru Rural,India,13.29724N,77.80184E,Asia/Kolkata,settlement
8,Nelamangala,nelamangala,Karnataka,Bengaluru Rural,India,13.09978N,77.39364E,Asia/Kolkata,settlement
9,Bengaluru Rural,bangalore-rural,Karnataka,Bengaluru Rural,India,13.22567N,77.57501E,Asia/Kolkata,administrative_area

In [33]:
functions = [
        {
            "name": "get_current_weather",
            "description": "Get the current weather in a given location",
            "parameters": {
                "type": "object",
                "properties": {
                    "location": {
                        "type": "string",
                        "description": "The city and state, e.g. San Francisco, CA",
                    },
                    
                },
                "required": ["location"],
            },
        }
    ]

In [36]:
functions

[{'name': 'get_current_weather',
  'description': 'Get the current weather in a given location',
  'parameters': {'type': 'object',
   'properties': {'location': {'type': 'string',
     'description': 'The city and state, e.g. San Francisco, CA'}},
   'required': ['location']}}]

In [79]:
user_message="what is the weather of banglore"
messages=[]
messages.append({"role": "user", "content":user_message})
response=openai.chat.completions.create(
    model="gpt-3.5-turbo-0613",
    messages= messages,
    functions=functions  
)

In [103]:
print(response)

ChatCompletion(id='chatcmpl-8hhOoOQu5NLX6C8N6FczCUMMpUF0H', choices=[Choice(finish_reason='function_call', index=0, logprobs=None, message=ChatCompletionMessage(content=None, role='assistant', function_call=FunctionCall(arguments='{\n  "location": "Bangalore"\n}', name='get_current_weather'), tool_calls=None))], created=1705425622, model='gpt-3.5-turbo-0613', object='chat.completion', system_fingerprint=None, usage=CompletionUsage(completion_tokens=17, prompt_tokens=70, total_tokens=87))

In [102]:
df=pd.DataFrame(response)
df

                    0                                                  1
0                  id             chatcmpl-8hhOoOQu5NLX6C8N6FczCUMMpUF0H
1             choices  [Choice(finish_reason='function_call', index=0...
2             created                                         1705425622
3               model                                 gpt-3.5-turbo-0613
4              object                                    chat.completion
5  system_fingerprint                                               None
6               usage  CompletionUsage(completion_tokens=17, prompt_t...

In [96]:
function_n=response['choices'][0]['function_call']['name']
print(function_n)

TypeError: 'ChatCompletion' object is not subscriptable

In [57]:
pd.DataFrame(response)

                    0                                                  1
0                  id             chatcmpl-8heDsz5kPnKRqwY1kQsv1VaYcxWOE
1             choices  [Choice(finish_reason='function_call', index=0...
2             created                                         1705413412
3               model                                 gpt-3.5-turbo-0613
4              object                                    chat.completion
5  system_fingerprint                                               None
6               usage  CompletionUsage(completion_tokens=17, prompt_t...

In [55]:
response

ChatCompletion(id='chatcmpl-8heDsz5kPnKRqwY1kQsv1VaYcxWOE', choices=[Choice(finish_reason='function_call', index=0, logprobs=None, message=ChatCompletionMessage(content=None, role='assistant', function_call=FunctionCall(arguments='{\n  "location": "Bangalore"\n}', name='get_current_weather'), tool_calls=None))], created=1705413412, model='gpt-3.5-turbo-0613', object='chat.completion', system_fingerprint=None, usage=CompletionUsage(completion_tokens=17, prompt_tokens=70, total_tokens=87))